
@font-face {
    font-family: "Add"; 
    src: url("./font/1.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
h1, h2, h3, h4, p, a {opacity: 90%;}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
    scroll-behavior: smooth;
}

body {
    background-color: #1f1b1b;
    background-repeat: repeat; 
    background-attachment: fixed;
    margin: 0; 
}

.block_ad {background: #262323; color: #D3D3D3; font-family: Ver;}

.block_map {background: #262323; font-family: Ass; color: #D3D3D3;}
.line { background: #1f1b1b; }

/*--------------------------------------------------------------
from    PC
--------------------------------------------------------------*/

@media screen and (min-width: 768px) {
    @supports (display: grid) {

        .site {
            display: grid;
            grid-template-columns: 1fr repeat(8, minmax(auto, 11em)) 1fr;
            grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
            background-attachment: fixed;
        }

        #target {
  margin-top: 50px;
}
        .logo {
            grid-column: span 12;
            grid-row: 1/2;
            background-color: #1F2023;
        }
        .head {
            grid-column: span 12;
            grid-row: 2/3;
            color: white;
            text-align: center;
            background-color: #27292D;
        }

        .heading {
            display: inline-block;
            margin-left: auto;
        }

        .headcenter {
            margin-right: 165px;
        }

        .avatar {
            height: 208px;
            width: 350px;
            display: inline-block;
            vertical-align: top;
        }
        .avatar_img {
            height: 168px;
            width: 168px;
            border-radius: 100%;
        }

        .info {
            height: 208px;
            width: 500px;
            display: inline-block;
        }

        .info h1 {font-size: 28px;} .info p {font-size: 16px;} .info h2 {font-size: 16px;}

        .menu{
            grid-column: span 12;
            grid-row: 3/4;
            color: white;
            background-color: #27292D;
            padding: 1em 2em;
            position: sticky;
        }

        .menu_block {
            background-color: #27292D;
            width: 50%; 
            margin: 0 auto; 
            text-align: center;
        }

        .menu_name {
            width: 100px;
            height: 30px;
            background-color: #27292D;
            display: inline-block;
            border-top: 1px solid white;
        }

        .main{
            grid-row: 5/19;
            grid-column: 2/10;
            background-color: #1F2023;
            color: white;
        }
        .catalog{
            grid-row: 5/19;
            grid-column: 2/10;
            background-color: #1F2023;
            color: white;
            display: none;
        }
        .block_cater{
            width: 300px; height: 200px;
            display: inline-block;
        }
        .left {grid-column: 1/2; grid-row: 5/19; background-color: #1F2023;} 
        .right {grid-column: 10/11; grid-row: 5/19; background-color: #1F2023;}
        .foot{
            grid-column: span 12;
            grid-row: 19/20;
            background-color: gray;
        }
        .nb {margin: 0 auto; text-align: center;}

        .nb a {
            font-family: Add;
            font-size: 13px;
        }

        .nb a:link {
            color: white;
        }

        .nb a:visited {
            color: white;
        }
        .nb a:active {
            color: #a348bd;
        }

        .hobosti {
            display: inline-block;
            margin: 10px;
            height: 323px;
            width: 293px;
            background-color: #383B40;
            color: white;
            border: 1px solid #383B40;
            border-radius: 2%;
            margin: 10px 10px; text-align: left;
        }

        img {
            height: 293px; width: 293px;
            border-radius: 2%;
        }

        .logos {
            height: 50px; width: 50px;
            margin: center;
            text-align: center;
            height: 61px;
            max-width: 100%;
        }

        .p_main {
            position: bottom;
            margin: 0;
            padding: 0em 1em;
            text-overflow: ellipsis; /* троеточие если не влезает*/
            white-space: nowrap; /* Запрещаем перенос строк */
            overflow: hidden
        }

        .menu_block a {
            font-family: Add;
            font-size: 13px;
        }

        .menu_block a:link {
            color: white;
        }

        .menu_block a:visited {
            color: white;
        }
        .menu_block a:active {
            color: #a348bd;
        }
    }
}

/*--------------------------------------------------------------
from    smartphone
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    @supports (display: grid) {

        .site {
            display: grid;
            grid-template-columns: 1fr repeat(8, minmax(auto, 8em)) 1fr;
            grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
        }

        .logo {
            grid-column: span 12;
            grid-row: 1/2;
            background-color: #1F2023;
        }
        .head {
            grid-column: span 12;
            grid-row: 2/3;
            color: white;
            text-align: center;
            background-color: #27292D;
        }

        .head__left{
            margin: 0 0 0 auto;
            display: block;
        }
        .avatar {
            height: auto;
            width: auto;
            display: inline-block;
            vertical-align: top;
            padding-left: 3%;
        }
        .avatar_img {
            height: 98px;
            width: auto;
            border-radius: 100%;
        }

        .heading{
            display: inline-block;
            font-family: Add;
        }

        .info {
            height: auto;
            width: 300px;
            display: block;
            padding-left: 3%;
        }

        .info h1 {font-size: 28px;} .info p {font-size: 16px;} .info h2 {font-size: 16px;}

        .menu{
            grid-column: span 12;
            grid-row: 3/4;
            color: white;
            background-color: #27292D;
            padding: 1em 2em;
            position: sticky;
        }

        .menu_block {
            background-color: #27292D;
            width: 100%; 
            margin: 0 auto; 
            text-align: center;
        }

        .menu_name {
            width: 100px;
            height: 30px;
            background-color: #27292D;
            display: inline-block;
            border-top: 1px solid white;
        }

        .main{
            grid-row: 5/19;
            grid-column: 2/10;
            background-color: #1F2023;
            color: white;
        }
        .catalog{
            grid-row: 5/19;
            grid-column: 2/10;
            background-color: #1F2023;
            color: white;
            display: none;
        }
        .block_cater{
            width: 300px; height: 200px;
            display: inline-block;
        }
        .left {grid-column: 1/2; grid-row: 5/19; background-color: #1F2023;} 
        .right {grid-column: 10/11; grid-row: 5/19; background-color: #1F2023;}
        .foot{
            grid-column: span 12;
            grid-row: 19/20;
            background-color: gray;
        }
        .nb {
            margin: 0 auto; 
            text-align: -webkit-center;
        }

        .nb a {
            font-family: Add;
            font-size: 13px;
        }

        .hobosti {
            display: inline-block;
            margin: 10px;
            width: 94%;
            background-color: #383B40;
            color: white;
            border: 1px solid #383B40;
            border-radius: 2%;
            margin: 10px 10px;
            text-align: -webkit-center;
        }

        img {
            width: 100%;
            border-radius: 2%;
        }

        .logos {
            height: 50px; width: 50px;
            margin: center;
            text-align: center;
            height: 61px;
            max-width: 100%;
        }

        .p_main {
            position: bottom;
            margin: 0;
            padding: 1em 1em;
        }

        a {
            font-family: Add;
            font-size: 13px;
        }

        a:link {
            color: white;
        }

        a:visited {
            color: white;
        }
        a:active {
            color: #a348bd;
        }
    }
}

/*--------------------------------------------------------------
from    ipad
--------------------------------------------------------------*/

@media screen and (max-height: 500px) {
    @supports (display: grid) {

        .site {
            display: grid;
            grid-template-columns: 1fr repeat(8, minmax(auto, 8em)) 1fr;
            grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
        }
    }
}