<!--
16.02.2021 - нач
-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif
-->
<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" type="text/css" href="post.css">
    	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="logo.svg" type="image/x-icon">
        <title>Vegan Russian</title>
    </head>
<div class="site">
	<div class="logo">
		<p align="center"><img class="logos" src="logo.svg"></p>
	</div>

	<div class="left"><h3></h3></div>
	<div id="main" class="main"><!--Главный новостной блок + новые продукты-->
		<h1 align="left">{{name}}</h1>
		<p align="center"><img src="{{urlpic}}"></p>
		<div align="left" class="opis">
			<h3>Цена: {{price}}</h3>
			<h3>Магазины: {{magazine}}</h3>
			<h3>Состав: {{consist}}</h3>
		</div>
	</div>
	<div class="right"><h3></h3></div>
</div>
</html>