@font-face {
    font-family: "Add"; 
    src: url("./font/1.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
h1, h2, h3, h4, p, a {opacity: 90%;}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
    scroll-behavior: smooth;
}

body {
    background-color: #1f1b1b;
    background-repeat: repeat; 
    background-attachment: fixed;
    margin: 0; 
}

.block_ad {background: #262323; color: #D3D3D3; font-family: Ver;}

.block_map {background: #262323; font-family: Ass; color: #D3D3D3;}
.line { background: #1f1b1b; }

/*--------------------------------------------------------------
from    PC
--------------------------------------------------------------*/

@media screen and (min-width: 768px) {
    @supports (display: grid) {

        .site {
            display: grid;
            grid-template-columns: 1fr repeat(8, minmax(auto, 11em)) 1fr;
            grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
            background-attachment: fixed;
        }

        a {
            font-family: Add;
            font-size: 13px;
        }

        .logo {
            grid-column: span 12;
            grid-row: 1/2;
            background-color: #1F2023;
        }

        .main{
            grid-row: 5/19;
            grid-column: 2/10;
            background-color: #1F2023;
            color: white;
        }

        .opis {
            width: 700px; height: auto;
            margin: 0 auto;
            border-radius: 2%;
        }

        .left {grid-column: 1/2; grid-row: 5/19; background-color: #1F2023;} 
        .right {grid-column: 10/11; grid-row: 5/19; background-color: #1F2023;}


        img {
            height: 512px; width: 512px;
            border-radius: 2%;
        }

        .logos {
            height: 50px; width: 50px;
            margin: center;
            text-align: center;
            height: 61px;
            max-width: 100%;
        }

        .p_main {
            position: bottom;
            margin: 0;
            padding: 1em 1em;
        }

        a:link {
            color: white;
        }

        a:visited {
            color: white;
        }
        a:active {
            color: #a348bd;
        }
    }
}

/*--------------------------------------------------------------
from    smartphone
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    @supports (display: grid) {

        .site {
            display: grid;
            grid-template-columns: 1fr repeat(8, minmax(auto, 8em)) 1fr;
            grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
        }

    }
}

/*--------------------------------------------------------------
from    ipad
--------------------------------------------------------------*/

@media screen and (max-height: 500px) {
    @supports (display: grid) {

        .site {
            display: grid;
            grid-template-columns: 1fr repeat(8, minmax(auto, 8em)) 1fr;
            grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
        }
    }
}