@font-face {
    font-family: "Add"; 
    src: url("./font/1.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
h1, h2, h3, h4, p, a {opacity: 90%;}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
    scroll-behavior: smooth;
}

body {
    background-color: #1f1b1b;
    background-repeat: repeat; 
    background-attachment: fixed;
    margin: 0; 
}

/*--------------------------------------------------------------
from    PC
--------------------------------------------------------------*/

@media screen and (min-width: 768px) {
    @supports (display: grid) {

        .site {
            display: grid;
            grid-template-columns: 1fr repeat(8, minmax(auto, 11em)) 1fr;
            grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
            background-attachment: fixed;
        }

        .logo {
            grid-column: span 12;
            grid-row: 1/2;
            background-color: #1F2023;
        }

        .logos {
            height: 50px; width: 50px;
            margin: center;
            text-align: center;
            height: 61px;
            max-width: 100%;
        }

        .menu {
            grid-column: span 12;
            grid-row: 2/3;
            background-color: #27292D;
        }

        .menu__list {
            text-align: center;
        }
        .menu__list a {
            border-top: 1px solid white;
            font-family: Add;
            font-size: 20px;
            padding-right: 3%;
            text-decoration: none;
        }

        .menu__list a:link {
            color: gray;
        }

        .menu__list a:visited {
            color: white;
        }
        .menu__list a:active {
            color: gray;
        }
    }
}

/*--------------------------------------------------------------
from    smartphone
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    @supports (display: grid) {

        .site {
            display: grid;
            grid-template-columns: 1fr repeat(8, minmax(auto, 8em)) 1fr;
            grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
        }
    }
}

/*--------------------------------------------------------------
from    ipad
--------------------------------------------------------------*/

@media screen and (max-height: 500px) {
    @supports (display: grid) {

        .site {
            display: grid;
            grid-template-columns: 1fr repeat(8, minmax(auto, 8em)) 1fr;
            grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
        }
    }
}